@using JobMatch.Models
@inject JobMatch.Services.UserService UserService

@{
    var user = UserService.GetUser();
}

@if (user != null)
{
    <div class="nav-item dropdown">
        <div class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
            <img class="avatar-img-nav" src="@Url.Content(user.UserAvatar)" alt="Avatar" />
            <span>@(user.UserName?.Split(' ').Last())</span>
        </div>
        <div class="dropdown-menu rounded-0 m-0">
            <a href="#" class="dropdown-item"><i class="fa fa-user"></i> Thông tin của tôi</a>
            <a asp-controller="Resume" asp-action="Index" asp-route-userID="@user.Id" class="dropdown-item">
                <i class="bi bi-file-earmark-person"></i> CV
            </a>
            <a href="#" class="dropdown-item"><i class="fa fa-briefcase"></i> Việc làm đã ứng tuyển</a>
            <a asp-controller="Account" asp-action="Logout" class="dropdown-item">
                <i class="bi bi-box-arrow-right"></i> Đăng xuất
            </a>
        </div>
    </div>
}
else
{
    <a asp-controller="Account" asp-action="Login" class="btn btn-primary rounded-0 py-4 px-lg-5 d-none d-lg-block">
        Đăng nhập<i class="fa fa-arrow-right ms-3"></i>
    </a>
}
