@model JobMatch.Models.Company
@inject JobMatch.Services.UserService UserService

@{
    ViewData["Title"] = "Thêm Công Ty";
    Layout = "~/Views/Shared/_RecruiterLayout.cshtml";
    var user = UserService.GetUser();

}

<h2>Thêm Công Ty</h2>

<form asp-action="Create" enctype="multipart/form-data">
    <div class="mb-3">
        <label class="form-label">Tên công ty</label>
        <input asp-for="CompanyName" class="form-control" required />
    </div>
    <div class="mb-3">
        <label class="form-label">Mô tả</label>
        <textarea asp-for="CompanyDescription" class="form-control"></textarea>
    </div>
    <div class="mb-3">
        <label class="form-label">Địa điểm</label>
        <input asp-for="CompanyLocation" class="form-control" />
    </div>
    <div class="mb-3">
    <label class="form-label">Quy mô công ty</label>
        <select asp-for="CompanySize" class="form-select">
            <option value="Nhỏ (<50 nhân viên)">Nhỏ (<50 nhân viên)</option>
            <option value="Vừa (50-200 nhân viên)">Vừa (50-200 nhân viên)</option>
            <option value="Lớn (>200 nhân viên)">Lớn (>200 nhân viên)</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">Website</label>
        <input asp-for="Website" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label">Email liên hệ</label>
        <input asp-for="ContactEmail" type="email" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label">Logo Công Ty</label>
        <input type="file" name="CompanyImageFile" class="form-control" accept="image/*" />
    </div>
    <button type="submit" class="btn btn-primary">Thêm</button>
    <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
</form>
