@{
	Layout = "~/Views/Shared/_RecruiterLayout.cshtml";
}

<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="row g-0 about-bg rounded overflow-hidden">
                    <div class="col-6 text-start">
                        <img class="img-fluid w-100" src="~/img/about-1.jpg">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid" src="~/img/about-2.jpg" style="width: 85%; margin-top: 15%;">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid" src="~/img/about-3.jpg" style="width: 85%;">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid w-100" src="~/img/about-4.jpg">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="mb-4">Chúng tôi giúp bạn có được công việc tốt nhất và tìm được nhân tài</h1>
                <p class="mb-4">Chúng tôi cam kết mang đến cho bạn những cơ hội nghề nghiệp tốt nhất và tìm ra những tài năng xuất sắc. Mỗi công việc chúng tôi cung cấp đều được chọn lọc kỹ lưỡng để phù hợp với nhu cầu và mục tiêu của bạn.</p>
                <p><i class="fa fa-check text-primary me-3"></i>Cung cấp cơ hội nghề nghiệp đa dạng</p>
                <p><i class="fa fa-check text-primary me-3"></i>Chọn lọc những ứng viên tài năng</p>
                <p><i class="fa fa-check text-primary me-3"></i>Cam kết mang lại giá trị lâu dài cho doanh nghiệp</p>
                <a class="btn btn-primary py-3 px-5 mt-3" href="">Xem thêm</a>
            </div>

        </div>
    </div>
</div>
<!-- About End -->